.section {
    height: 450px;
}

.sec {
    height: 218px;
    width: 75%;
    margin: 0 auto;
}

.circl {
    width: 400px !important;
    height: 400px !important;
    border-radius: 50%;
    background-image: radial-gradient(circle, #8eadd54d, #ffffff2d);
    position: absolute;
    top: -170%;
    left: -24%;
}

.re {
    position: relative;
}

.circl2 {
    width: 500px !important;
    height: 500px !important;
    border-radius: 50%;
    background-image: radial-gradient(circle, #8eadd54d, #ffffff2d);
    position: absolute;
    top: -120px;
    left: -70px;
}

.bu {
    background-color: #8EADD5 !important;
    border: 1px solid #8EADD5 !important;
}

.footer {
    height: 443px;
}

.slider1 {
    height: 565px !important;
}

@media (max-width:992px) {
    .footer {
        width: 100%;
        height: 1000px;
        text-align: center;
        padding-top: 100px;
    }

    .section {
        margin-bottom: 120px;
        height: 665px;
        text-align: center;
    }

    .sec {
        width: 100% !important;
        margin: 0px;
    }

    .sec1 {
        height: 350px;
        align-items: center;
    }

    .slider1 {
        height: 1200px !important;
    }}