.section{
    height: 450px;
}
.sec{
height: 218px; 
}
.bu{
    background-color: #8EADD5 !important;
    border: 1px solid #8EADD5 !important ;
}
.footer{
    height: 443px;
}
.slider{
    height: 715px !important;
}